

<div>
  <h2>Add a reporter to {{ beat.name }}</h2>
  <form ng-submit="addReporter()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="reporterName" class="form-control" placeholder="Name">
      <input type="text" ng-model="reporterBirthday" class="form-control" placeholder="Birthday">
      <input type="text" ng-model="reporterExperience" class="form-control" placeholder="Experience">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ng-show="beat.reporters.length">
  <h2>Reporter List for {{ beat.name }}</h2>
  <dl>
    <dt ng-repeat-start="item in beat.reporters">
      <a ng-click="showDetails = ! showDetails">{{ item.name }}</a>
    </dt>
    <dd ng-show="showDetails">Experience: {{ item.experience }}</dd>
    <dd ng-repeat-end ng-show="showDetails">Birthday: {{ item.birthday }}</dd>
  </dl>
</div>
{{ item.name }}
{{ item.birthday }}
{{ item.experience }}
